.focus {
    border:2px solid rgb(201, 201, 250) !important;
}

.blur{
    border:1px solid #ccc;
}

#map {
    height: 100%;
    /*margin-top: -10% !important;*/
    margin-bottom: 10%;
}

.stats{
    margin: 5px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.form-signin {
    max-width: 400px;
    display:block;
    background-color: #f7f7f7;
    -moz-box-shadow: 0 0 3px 3px #888;
    -webkit-box-shadow: 0 0 3px 3px #888;
    box-shadow: 0 0 3px 3px #888;
    border-radius:2px;
}
.main{
    padding: 38px;
}
.social-box{
    margin: 0 auto;
    display: table;
    border-bottom:1px #ccc solid;
    /*padding-top: 5%;*/
    /*padding-left: 10%;*/
    /*padding-bottom: 5%;*/
}
.social-box a{
    font-weight:bold;
    font-size:18px;
    padding:8px;
}
.social-box a i{
    font-weight:bold;
    font-size:20px;
}
.heading-desc{
    font-size:20px;
    font-weight:bold;
    padding:38px 38px 0px 38px;

}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    /*margin-bottom: 10px;*/
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-check{
    padding-left: 58%;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: 20px;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: 10px;
    border-radius: 5px;

}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-radius: 5px;
}
.login-footer{
    background:#f0f0f0;
    margin: 0 auto;
    border-top: 1px solid #dadada;
    padding:20px;
}
.login-footer .left-section a{
    font-weight:bold;
    color:#8a8a8a;
    line-height:19px;
}

.title-imed{
    margin-left: 33%;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    color: #DD4B39;
    padding-bottom: -50px;
}

/* Shared */
.loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 1.0em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
    width: 327px;
}
.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}
.loginBtn:focus {
    outline: none;
}
.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

/* Google */
.loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
}
.loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #E74B37;
}

.login-tela{
    margin: 0 auto;
    display: table;
}

.img-login{
    margin: 0 auto;
    display: table;
    padding-left: 34%;
    padding-top: 4%;
}

.radio-busca label{
    margin-bottom: 5px;
    padding: 10px;
    padding-left: 55px;
}

.btn-filter{
    background: #FFFAF0;
    color: black;
    border-radius: 10px;
    width: 100px;
    padding: 7px;
    border-color: black;
}
 /*teste*/

#floating-panel {
    position: relative;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 18px;
    padding-left: 10px;
    text-align: left;
    font-size: 12px;
    float: left;
    margin-bottom: 28px;
}

#output {
    max-height: 500px;
    overflow: auto;
}

#output ul {
    list-style: none;
    z-index: 3;
    width: 100%;
    overflow-y: auto;
    overflow: hidden;
    border-top: 1px solid #E2E2E2;
    padding-left: 0;
}

#output li {
    margin-bottom: 0;
    position: relative;
    padding: 10px;
    height: 95px;
    box-sizing: border-box;
    font-size: 14px;
    letter-spacing: 0.3px;
}

/*ver isso*/
#map{
    height:560px;
}

.li-list{
    cursor: pointer;
    list-style-type: none;
    position: absolute;
    display: table;
    z-index: 2
}

.list {
    position: absolute;
    background: #fff;
    width: 90%;
    border-radius: 10px;
    z-index: 2
}

.li-list-consultation{
    cursor: pointer;
    list-style-type: none;
    position: absolute;
    display: table;
    z-index: 2
}

.list-consultation {
    position: absolute;
    background: #fff;
    width: 90%;
    border-radius: 10px;
    z-index: 2
}

.btn-upload {
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.sidebar .nav p, .off-canvas-sidebar .nav p{
    font-size: 11px !important
}

.file{
    overflow: hidden;
    /* margin: 10px; */
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    /* font-size: 20px; */
    cursor: pointer;
    opacity: 0;
}

.button-login{
    margin-top: -43px
}

@media only screen and (max-width: 770px) {
    .mobile-hide{ display: none !important; }
}
